<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="org.zerock.freeboard.mapper.FreeBoardReplyMapper">

	<insert id="insert">
		INSERT INTO tbl_reply (reply_seq, reply_boardname,
		reply_boardseq, reply_content, reply_writer, reply_regdate)
		select case count(*) when 0 then 1 else max(reply_seq) + 1 end,'freeboard',
		#{reply_boardseq},
		#{reply_content},
		#{reply_writer},
		now() from tbl_reply
		
		

	</insert>

	<select id="read" resultType="org.zerock.freeboard.domain.FreeBoardReplyVO">
		<!--freeboard게시판에 댓글번호 -->
		SELECT 	TR.*
			  , (SELECT TU.USER_NICKNAME FROM TBL_USER TU WHERE TU.USER_ID = TR.REPLY_WRITER) REPLY_NICKNAME 
		FROM 	TBL_REPLY TR 
		WHERE 	TR.REPLY_SEQ = #{reply_seq}
	</select>

	<delete id="delete">
		DELETE FROM tbl_reply WHERE reply_seq = #{reply_seq}
	</delete>

	<update id="update">
		UPDATE tbl_reply SET reply_content =
		#{reply_content}, reply_updatedate = now()
		WHERE reply_seq =
		#{reply_seq}
	</update>
	
	<select id="getListWithPaging" resultType="org.zerock.freeboard.domain.FreeBoardReplyVO">
		SELECT 	
				TR.*
			  , (SELECT TU.USER_NICKNAME FROM TBL_USER TU WHERE TU.USER_ID = TR.REPLY_WRITER) REPLY_NICKNAME 
		FROM 	TBL_REPLY TR
		WHERE 	TR.REPLY_BOARDSEQ = #{free_seq}
		ORDER BY 
				TR.REPLY_SEQ DESC
	</select>

</mapper>