<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.RevBoard.mapper.RevReplyMapper">

	<!-- 
	DB 테이블 구조
	reply_seq NUMBER(10) PRIMARY KEY,
	reply_content VARCHAR2(3000) NOT NULL,
	reply_writer VARCHAR2(30) NOT NULL,
	reply_regdate DATE,
	reply_updatedate DATE,
	reply_boardname VARCHAR2(10) NOT NULL
	
	C (CREATE (INSERT) 처리) 
	R (READ (SELECT) 처리)
	U (UPDATE 처리)
	D (DELETE 처리)
	-->
	<!-- 댓글생성 -->
	<!-- INSERT INTO tbl_reply (reply_seq,reply_boardname,reply_boardseq,reply_content,reply_writer,reply_regdate) 
		VALUES (reply_seq.nextval, 'RevBoard', 5, '댓글테스트', '장민주', now()); -->
	<insert id="insert">
		INSERT INTO tbl_reply (reply_seq, reply_boardname, reply_boardseq, reply_content, reply_writer, reply_regdate) 
		VALUES (reply_seq.nextval, 
		#{reply_boardname}, 
		#{reply_boardseq}, 
		#{reply_content}, 
		#{reply_writer}, 
		now() )
	</insert>
	
	<!-- 댓글 가져오기 -->
	<!-- SELECT * FROM tbl_reply WHERE reply_boardname = 'RevBoard' AND reply_boardseq = 5;  -->
	<select id="read" resultType="org.zerock.RevBoard.domain.ReplyVO">
		SELECT * FROM tbl_reply 
		WHERE reply_boardname = 'RevBoard' AND reply_seq = #{reply_seq}
	</select>
	
	<!-- 댓글 수정 -->
	<!-- UPDATE tbl_reply SET reply_content = '댓글을 수정해보자' , reply_updatedate = now() WHERE reply_boardname = 'RevBoard' AND reply_seq = 21; -->
	<update id="update">
		UPDATE tbl_reply 
		SET reply_content = #{reply_content},
		reply_updatedate = now()
		WHERE reply_boardname = 'RevBoard'
		AND reply_seq = #{reply_seq}
	</update>
	
	<!-- 댓글 삭제 -->
	<!-- DELETE FROM tbl_reply WHERE reply_seq = 21; -->
	<delete id="remove">
		DELETE FROM tbl_reply WHERE reply_seq = #{reply_seq}
	</delete>
	
	<!-- 댓글 리스트, 페이징 -->
	<!-- SELECT reply_seq, reply_boardname, reply_boardseq, reply_content, reply_writer, reply_regdate, reply_updatedate 
		FROM tbl_reply 
		WHERE reply_boardseq = 231
		AND reply_boardname = 'qaboard'
		ORDER BY reply_seq ASC; 윤관형껄로 실험. -->
		
		<select id="getListWithPaging" resultType="org.zerock.RevBoard.domain.ReplyVO">
			SELECT reply_seq, reply_boardname, reply_boardseq, reply_content, reply_writer, reply_regdate, reply_updatedate
			FROM tbl_reply
			WHERE reply_boardseq = #{reply_boardseq}
			AND reply_boardname = 'RevBoard'
			ORDER BY reply_seq DESC
		</select>
	
</mapper>