<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.qaboard.mapper.QaMapper">

	<sql id="criteria">
	<where>
		<foreach item="type" collection="typeArr" separator="OR">
			<choose>
				<when test="type == 'T'.toString()">
					UPPER(qa_title) LIKE UPPER('%'||#{keyword}||'%')
				</when>
				<when test="type == 'C'.toString()">
					UPPER(qa_content) LIKE UPPER('%'||#{keyword}||'%')
				</when>
				<when test="type == 'W'.toString()">
					UPPER(qa_writer) LIKE UPPER('%'||#{keyword}||'%')
				</when>
				<when test="type == 'S'.toString()">
					UPPER(qa_category) LIKE UPPER('%'||#{keyword}||'%')
				</when>
			
			</choose>
		</foreach>
	</where>
	</sql>


	<select id="getListWithPaging" resultType="org.zerock.qaboard.domain.QaVO">
   <![CDATA[
   SELECT qa_seq, qa_category, qa_title, qa_content, qa_writer, qa_regdate, qa_readcnt, qa_updatedate, qa_secret, qa_status, qa_replycnt, qa_replycnt_admin, qa_filename
   FROM
   (
   SELECT ROW_NUMBER() OVER (ORDER BY qa_seq DESC) rn, 
   qa_seq, qa_category, qa_title, qa_content, qa_writer, qa_regdate, qa_readcnt, qa_updatedate, qa_secret, qa_status, qa_replycnt, qa_replycnt_admin, qa_filename    
   FROM tbl_qaboard
   ]]>
   
   <include refid="criteria"></include>
      
   <![CDATA[
   )
   WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND #{pageNum} * #{amount}
   ]]>
   </select>
   <!-- 
   C (CREATE (INSERT) 처리) 
   R (READ (SELECT) 처리)
   U (UPDATE 처리)
   D (DELETE 처리)
    -->
   <select id="getList" resultType="org.zerock.qaboard.domain.QaVO">
   <![CDATA[
      SELECT * FROM tbl_qaboard WHERE qa_seq > 0
   ]]>
   </select>   
   
   
   <select id="read" resultType="org.zerock.qaboard.domain.QaVO">
      SELECT * FROM tbl_qaboard WHERE qa_seq = #{qa_seq}
   </select>
   
   <select id="read_secret" resultType="org.zerock.qaboard.domain.QaVO">
      SELECT * FROM tbl_qaboard WHERE qa_seq = #{qa_seq}
   </select>
   
   <insert id="insert">
      INSERT INTO tbl_qaboard (qa_seq, qa_category, qa_title, qa_content, qa_writer, qa_secret, qa_regdate, qa_filename) 
      VALUES (qa_seq.nextval, #{qa_category}, #{qa_title}, #{qa_content}, #{qa_writer}, #{qa_secret}, SYSDATE, #{qa_filename})
   </insert>
   
   <insert id="insertSelectKey">
      <selectKey keyProperty="qa_seq" order="BEFORE" resultType="int">
         SELECT qa_seq.nextval FROM dual
      </selectKey>
      INSERT INTO tbl_qaboard (qa_seq, qa_category, qa_title, qa_content, qa_writer, qa_secret, qa_regdate, qa_filename) 
      VALUES (#{qa_seq}, #{qa_category}, #{qa_title}, #{qa_content}, #{qa_writer}, #{qa_secret}, SYSDATE, #{qa_filename})
   </insert>
   
  
   
   <delete id="delete">
      DELETE FROM tbl_qaboard WHERE qa_seq = #{qa_seq}
   </delete>
   
   <update id="update">
      UPDATE tbl_qaboard SET
      qa_category = #{qa_category}, 
      qa_title = #{qa_title}, 
      qa_content = #{qa_content}, 
      qa_updatedate = SYSDATE,
      qa_secret = #{qa_secret},
      qa_filename = #{qa_filename} 
      WHERE qa_seq = #{qa_seq}
   </update>

   
   <select id="getTotalCount" resultType="int">
   SELECT count(*) FROM tbl_qaboard 
   <include refid="criteria"></include>
   </select>
   
   <update id="updateReplyCnt">
   UPDATE tbl_qaboard SET qa_replycnt = qa_replycnt + #{amount}
	WHERE qa_seq = #{qa_seq}
   </update>
   
   <update id="updateReplyCnt_admin">
   UPDATE tbl_qaboard SET qa_replycnt_admin = qa_replycnt_admin + #{amount}
	WHERE qa_seq = #{qa_seq}
   </update>
   
   
   <select id="readCnt" resultType="int">
   		SELECT qa_readcnt FROM tbl_qaboard
		WHERE qa_seq = #{qa_seq}   
   </select>

   <update id="addCnt">
   		UPDATE tbl_qaboard 
   		SET qa_readcnt = qa_readcnt + 1  
		WHERE qa_seq = #{qa_seq}
   </update>
   
</mapper>