<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.product.mapper.ProductMapper">

	<update id="finishSelling">
		UPDATE tbl_product
			SET
			product_status = 1
			WHERE
			product_seq = #{product_seq}
	</update>

	<update id="updatePOquantityByOrder">
		UPDATE tbl_productoption
			SET
			po_quantity = po_quantity - #{order_quantity}
			WHERE
			productOption_seq = #{order_poseq}
	</update>

	<delete id="deleteProductOption">
		delete from tbl_productoption where productOption_seq = #{productOption_seq}
	</delete>
	
	<update id="updateProductOption">
		UPDATE tbl_productoption
			SET
			po_name = #{po_name},
			po_quantity = #{po_quantity},
			po_price = #{po_price}
			WHERE
			productOption_seq = #{productOption_seq}
	</update>

	<update id="userPointUpdate">
		UPDATE tbl_user
			SET
			user_point = #{changedPoint}
			WHERE
			user_seq = #{user_seq}
	</update>

	<select id="readOrderbyOrderSeq"
		resultType="org.zerock.product.domain.OrderVO">
		select * from tbl_order where order_seq = #{order_seq} AND order_status = 0
	</select>
	
	<select id="getCategoryMains" resultType="java.lang.String">
		select category_main from tbl_category GROUP BY CATEGORY_MAIN
	</select>
	
	<select id="getCategorySubs" resultType="java.lang.String">
		select category_sub from tbl_category WHERE category_main = #{category_main}
	</select>
	
	<select id="getCategorySeq" resultType="int">
		select category_seq from tbl_category WHERE category_main = #{category_main} AND category_sub = #{category_sub}
	</select>
	
	<select id="getCategoryMainAndSubs" resultType="org.zerock.product.domain.CategoryVO">
		select category_main, category_sub from tbl_category WHERE category_seq = #{category_seq}
	</select>

	<update id="updateProductLike">
		UPDATE tbl_product SET product_like = #{product_like} WHERE product_seq = #{product_seq}
	</update>

	<insert id="insertProductLike">
		insert into tbl_productlike (product_seq, user_seq) 
		VALUES
		(#{product_seq}, #{user_seq})
	</insert>
	
	<select id="countUserSeqByProductSeq" resultType="int">
		SELECT count(user_seq) FROM tbl_productlike WHERE product_seq = #{product_seq}
	</select>
	
	<select id="checkProductLike" resultType="int">
		SELECT count(*) FROM tbl_productlike WHERE product_seq = #{product_seq} AND user_seq = #{user_seq}
	</select>
	
	<delete id="deleteProductLike">
		delete from tbl_productlike where product_seq = #{product_seq} AND user_seq = #{user_seq}
	</delete>
	
	<insert id="insertCart">
		insert into tbl_order (order_seq, order_productseq, order_poseq,
		order_poname, order_poprice, order_quantity, order_userseq, order_username, 
		order_useraddress, order_userphone, order_filename, order_status, order_date)
		values 
		(order_seq.nextval, #{order_productseq}, #{order_poseq},
		#{order_poname}, #{order_poprice}, #{order_quantity},
		#{order_userseq}, #{order_username}, #{order_useraddress}, 
		#{order_userphone}, #{order_filename}, #{order_status}, SYSDATE)
	</insert>
	
	<insert id="insertOrder">
		insert into tbl_order (order_seq, order_productseq, order_poseq,
		order_poname, order_poprice, order_quantity, order_userseq, order_username, 
		order_useraddress, order_userphone, order_filename, order_status, order_date)
		values 
		(order_seq.nextval, #{order_productseq}, #{order_poseq},
		#{order_poname}, #{order_poprice}, #{order_quantity},
		#{order_userseq}, #{order_username}, #{order_useraddress}, 
		#{order_userphone}, #{order_filename}, #{order_status}, SYSDATE)
	</insert>

	<insert id="directOrder">
		insert into tbl_order (order_seq, order_productseq, order_poseq,
		order_poname, order_poprice, order_quantity, order_userseq, order_username, 
		order_useraddress, order_userphone, order_filename, order_status, order_date)
		values 
		(order_seq.nextval, #{order_productseq}, #{order_poseq},
		#{order_poname}, #{order_poprice}, #{order_quantity},
		#{order_userseq}, #{order_username}, #{order_useraddress}, 
		#{order_userphone}, #{order_filename}, 1, SYSDATE)
	</insert>
	
	<update id="updateOrder">
		UPDATE tbl_order
		SET
		order_status = 1,
		order_date = sysdate
		WHERE
		order_seq = #{order_seq}
	</update>

	<insert id="insertProductOption" >
		insert into tbl_productoption (productoption_seq, product_seq, po_name, po_quantity, po_price
		) values 
		 (productoption_seq.nextval
		 ,#{product_seq}
		 ,#{po_name}
		 ,#{po_quantity}
		 ,#{po_price})
	</insert>
	
	<insert id="insert">
		insert into tbl_product (product_seq, product_name, product_price,
		product_quantity, product_seller, product_filename, product_info, category_seq, user_nickname)
		values (product_seq.nextval, #{product_name}, #{product_price},
		#{product_quantity}, #{product_seller}, #{product_filename},
		#{product_info}, #{category_seq}, #{user_nickname})
	</insert>
	
	<select id="getProductOptionList" resultType="org.zerock.product.domain.ProductOptionVO">
		SELECT productoption_seq, product_seq, po_name, po_quantity, po_price FROM tbl_productoption 
		WHERE product_seq = #{product_seq} ORDER BY productoption_seq
	</select>
	
	<insert id="insertReturnSeq" keyProperty="product_seq">
		<selectKey keyProperty="product_seq" order="BEFORE" resultType="Integer">
  			select product_seq.nextval from DUAL
  		</selectKey> 
		insert into tbl_product (product_seq, product_name, product_price,
		product_quantity, product_seller, product_filename, product_info, category_seq, user_nickname)
		values (#{product_seq}, #{product_name}, #{product_price},
		#{product_quantity}, #{product_seller}, #{product_filename},
		#{product_info}, #{category_seq}, #{user_nickname})
	</insert>

	<sql id="criteria">
		<where>
			<foreach item="type" collection="typeArr" separator="OR">
				<choose>
					<when test="type == 'T'.toString()">
						product_name LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'C'.toString()">
						product_info LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'W'.toString()">
						user_nickname LIKE '%' || #{keyword} || '%'
					</when>
				</choose>
			</foreach>
			<choose>
				<when test="categoryNum != null and !categoryNum.equals('')">
					AND category_seq = #{categoryNum}
				</when>
			</choose>
		</where>
	</sql>

	<!-- <select id="getList" resultType="org.zerock.domain.BoardVO"> <![CDATA[ 
		select * from tbl_board where bno > 0 ]]> </select> -->

	<select id="getListWithPaging"
		resultType="org.zerock.product.domain.ProductVO">
<![CDATA[   
   SELECT
    product_seq, product_name, product_price, product_quantity, product_seller, product_filename, 
    product_info, category_seq, product_readcnt, product_status, product_regdate, product_updatedate, 
    user_nickname, product_like 
   FROM
    (
     SELECT 
      ROW_NUMBER() OVER ( ORDER BY 
 ]]>  
			<choose>
				<when test="array == 'latest'">
					product_seq DESC
				</when>
				<when test="array == 'like'">
					product_like DESC
				</when>
				<when test="array == 'priceHign'">
					product_price DESC
				</when>
				<when test="array == 'priceLow'">
					product_price
				</when>
				<when test="array == 'readcnt'">
					product_readcnt DESC
				</when>
				<otherwise>
					product_seq DESC
				</otherwise>
			</choose>
 <![CDATA[
      ) rn, product_seq, product_name, product_price, product_quantity, product_seller, 
      product_filename, product_info, category_seq, product_readcnt, product_status, product_regdate, 
      product_updatedate, user_nickname, product_like
   FROM
      tbl_product
]]>

		<include refid="criteria"></include>
   
<![CDATA[
    )
   WHERE
    rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND #{pageNum} * #{amount}
]]>
	</select>


	<!-- <insert id="insertSelectKey"> <selectKey keyProperty="bno" order="BEFORE" 
		resultType="long"> select seq_board.nextval from dual </selectKey> insert 
		into tbl_board (bno, title, content, writer) values (#{bno }, #{title}, #{content}, 
		#{writer}) </insert> -->

	<select id="read"
		resultType="org.zerock.product.domain.ProductVO">
		select * from tbl_product where product_seq = #{product_seq}
	</select>

	<update id="readCountUp">
		UPDATE tbl_product
			SET
			product_readcnt = product_readcnt + 1
			WHERE
			product_seq = #{product_seq}
	</update>

	<delete id="delete">
		delete from tbl_product where product_seq = #{product_seq}
	</delete>

	<update id="update">
		UPDATE tbl_product
		SET
		product_name = #{product_name},
		product_filename = #{product_filename},
		product_info = #{product_info},
		category_seq = #{category_seq},
		user_nickname = #{user_nickname},
		product_updateDate = sysdate
		WHERE
		product_seq = #{product_seq}
	</update>

	<update id="stopSelling">
		UPDATE tbl_product
		SET
		product_status = 1,
		product_updateDate = sysdate
		WHERE
		product_seq = #{product_seq}
	</update>

	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM tbl_product
		<include refid="criteria"></include>
	</select>

</mapper>